.userBox {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    height: auto;
    margin-bottom: 4rem;
}

.userData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form {
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 6;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: .5rem 0 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
}

.fieldLabel {
    padding-top: .8rem;
    font-size: .8rem;
    font-weight: 700;
}

input {
    width: 100%;
    height: 2.2rem;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    color: #666;
    cursor: pointer;
    padding: 5px;
}

.field i {
    position: absolute;
    top: 46px;
    left: 290px;
    font-size: 1.3rem;
}

.submit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    padding: .8rem 0 .5rem 0;
}

.leftELement {
    display: flex;
    justify-content: flex-start;
}

.centerElement {
    display: flex;
    justify-content: center;
    padding-top: .6rem;
}

.rightElement {
    display: flex;
    justify-content: flex-end;
}

.logInButton {
    background: linear-gradient(#aa0d1c, #ce0e2d, #aa0d1c);
    color: #fff;
    height: 2.5rem;
    width: 9rem;
    border: 1px solid #aa0d1c;
    border-radius: 10px;
    outline: none;
}

.disabledButton {
    opacity: 0.7;
}


.info {
    font-weight: 700;
    font-size: .8rem;
    display: flex;
    align-self: center;
}

.alternativeLogIn { 
    box-sizing: border-box;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    outline: none;
    color: #fff;
}

.fbButton { 
    background: #3b5998;
    border: 1px solid #3b5998;
}

.googleButton {
    border: 1px solid #F4B400;
    background: #F4B400;
}

.createButtonBox {
    padding: .8rem 0 .5rem 0;
}

.rightForm {
    border-left: 1px solid #ccc;
}

.mobileDivider {
    display: none;
}

.customAlert {
    padding-top: .5rem;
    font-size: .8rem;
    color: #d72a05;
}


@media (max-width: 850px) {

    .userBox {
        grid-template-columns: 1fr;
        grid-template-rows: 3;
        margin-bottom: 2rem;
    }

    .userData {
        margin-bottom: 3rem;
    }

    .mobileDivider {
        padding-bottom: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc;
    }

}

@media (max-width: 500px) {


    .form {
        grid-template-columns: 12rem;
    }

    .logInButton {
        width: 5.5rem;
        height: 1.5rem;
        font-size: .6rem;
    }

    .rightElement {
       flex: none;
       text-align: right;
    }

    .info {
        font-size: .6rem;
        font-weight: 800;
        padding-right: .1rem;
    }

    .mobileDivider {
        padding-bottom: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc;
    }

    .field i {
        font-size: 1.1rem;
        left: 166px;
        top: 48px;
    }

}