<div class="userBox">

  <!-- <div class="logIn"> -->

  <div class="userData">

    <h1>LOG IN</h1>

    <p>Login</p>
    <input type="text">

    <p>Password</p>
    <input type="password">

    <p>Forgot your password</p>

    <button class="logInButton">Log In</button>

    <p>or</p>
    <!-- 
    </div> -->

    <div class="FacebookGoogle">

      <button class="logInFacebook">Continue with Facebook</button>
      <button class="logInGoogle">Continue with Google</button>

    </div>

  </div>

  <div class="register">

    <h1>CREATE ACCOUNT</h1>
  
  </div>

</div>