:root {
    font-size: 16px;
}

nav {
    position: fixed;
    z-index: 1;
    background: linear-gradient(#666, #333, #111 ,#000);
    color: #fff;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr repeat(6, 1fr) 2fr;
    grid-template-rows: 1;
    height: 7rem;
    width: 100%;
}

.shared {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-sizing: inherit;
    height: 7rem;
    width: 100%
}

.logo {
    font-size: 1.5rem;  
}

.navOption {
    border-left: 1px solid #333;
}

p {
    font-size: 0.7rem;
    padding-top: 0.3rem;
    margin: 0 !important;
}

.lastNavOpt {
    border-right: 1px solid #333;
}

.menu {
    display: none;
    border-left: 1px solid #333;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
}   

.shared:hover {
    background: #121212;
    cursor: pointer;
    color: #ce0e2d;
    transition: all .35s ease-in-out;
}

section {
    padding-top: 10rem;
    background: #fff;
}

footer {
    height: 12rem;
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
}

@media (max-width: 850px) {

    nav {
        grid-template-columns: 5fr 2fr 2fr;
        height: 5rem;
    }

    .shared {
        height: 5rem;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3;
    }

    .signIn {
        border-left: 1px solid #333;
    }
    
    .navOption {
        display: none
    }

    .menu {
        display: flex;
    }

    section {
        padding-top: 8rem;
    }
}

@media (max-width: 650px) {

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 3;
    }

}
