body {
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: row; 
    min-height: 130px;
    background-color: #000;
    padding: 0 50px 0 50px;
    border-bottom: 1px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    font-size: 35px;
    letter-spacing: 1px;
    color: #fff;
}

.optionBox {
    width: 110px;
    height: 130px;
    border-left: 1px solid #333;
}

.fa-heart {
    color: #fff;
}